@media screen and (min-width:600px) {
    select,
    input[type="date"],
    textarea,
    input[type="text"] {
        max-width: 40%;
    }

    .rating {
        justify-content: left;
    }

    .rating > label::before {
        padding: 20px;
    }

    input[type="submit"] {
        padding: 1%;
    }
}