:root {
    /* Default / Telemain color scheme  */
    --primary-background: lightgrey;
    --overlay-background: rgba(211, 211, 211, 0.377);
    --secondary-background: rgb(94, 94, 94);
    --text-color-secondary: #E6E6E6;
    /* Orfan Color Scheme 
    --primary-background: tan;
    --overlay-background: rgba(210, 180, 140, 0.426);
    --secondary-background: saddlebrown;
    --text-color-secondary: #E6E6E6; */
    /* Calderian color scheme
    --primary-background: rgb(252, 222, 252);
    --overlay-background: rgba(252, 222, 252, 0.399);
    --secondary-background: purple;
    --text-color-secondary: #E6E6E6; */
    /* Feldoren color scheme 
    --primary-background: rgb(186, 229, 255);
    --overlay-background: rgba(186, 229, 255, 0.456);
    --secondary-background: navy;
    --text-color-secondary: #E6E6E6; */
}

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body {
    font-family: roboto, arial, sans-serif;
}

/*----------------Header + Username Dropdown-------------------*/

header {
    text-align: center;
    background-color: var(--secondary-background);
    color: var(--text-color-secondary);
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
    flex-direction: row;   
    justify-content: space-evenly;
    width: 100%;
    max-width: 250px;
}

nav a {
    text-decoration: none;
    color: var(--text-color-secondary);
    padding-top: .3rem;
}

nav label {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: .4rem;
}

#userLogo {
    padding: .1rem;
    background-color: white;
    border-radius: 20px;
    margin-right: .4rem;
}

#userLogo img {
    padding-top: .3rem;
    width: 20px;
}

nav select {
    padding-left: .3rem;
    background-color: var(--secondary-background);
    appearance: none;
    border: none;
    color: var(--text-color-secondary);
    font-size: medium;
}

div {
    margin: 1% 0;
    padding: 1rem;
    border: 1px solid black;
    background-color: var(--primary-background);
    text-align: center;
}

/*---------------------Hero img + Character Cards-----------------------------*/
.hero {
    text-align: center;
    position: relative;
}

.hero img {
    margin: 0 auto;
    width: 100%;
    /* height: 500px; */
}

.hero h1 {
    position: absolute;
    bottom: 5%;
    left: 10%;
    background-color: var(--overlay-background);
    color: var(--text-color-secondary);
    border-radius: 20px;
    padding: 1rem;
}

.character-cards {
    display: grid;
    grid-template-columns: 1fr;
}

.character-cards img {
    width: 100%;
}

.character-cards p {
    padding: .5rem;
}
/*--------------------SessionInfo------------------------------*/

#sessionInfo {
    text-align: left;
}
/*---------------------Resources session descriptions-----------------------------*/

#summary :first-child, #spacer {
    padding-bottom: 1rem;
}

/*-----------------------Feedback Form---------------------------*/

form fieldset {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
}

form label, form textarea {
    margin: 0 .3rem;
}

form textarea {
    margin-bottom: .3rem;
}

.changeType {
    display: grid;
    grid-template-columns: 20px 1fr;
    text-align: left;
    margin-bottom: .3rem;
}

form input[type="radio"] {
    margin: .3rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-background);
    color: var(--text-color-secondary);
}

footer p {
    padding: .5rem;
}

#lastmodified {
    color: yellow;
}