table {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.218);
    margin: 0 auto;
    text-align: center;
}

caption {
    caption-side: bottom;
}

thead tr {
    background-color: black;
    color: white;
}

th, td {
    padding: 1rem;
}

td {
    border: 1px solid rgba(149, 149, 149, 0.277);
}

tbody tr:nth-child(even) {
	background-color: rgb(235, 235, 235);
}

.col {
    background-color: rgb(48, 48, 48);
    border: 1px solid rgba(34, 34, 34, 0.132)
}