:root {
    --primary-background: lightgrey;
    --secondary-background: rgb(94, 94, 94);
    --text-color-secondary: #E6E6E6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-background);
}

header span {
    display: block;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--text-color-secondary);
    margin: 20px;
}

nav {
    background-color: var(--primary-background);
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: #e0dede;
    color: #4f4f4f;
    border-radius: 5px;
}

.active {
    color: yellow;
}


@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px 1fr;
    justify-content: center;
    text-align: center;
    max-width: 800px;
}

main h1 {
    grid-column: span 2; 
    padding: 2rem;
}

main section {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.card {
    text-align: center;
}

.card h2 {
    background-color: var(--primary-background);
    border-radius: 10px;
    padding: 1rem;
}

.card h3 {
    margin: 0 auto;
    max-width: fit-content;
    text-decoration: underline;
}

.card p {
    padding: 1rem;
}

.card ul {
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

.card li {
    padding: .5rem;
}

.card img {
    width: 150px;
    margin: 10px;
    box-shadow: 0 0 5px;
}

#spokane-flag {
    float: left;
}

#profile {
    float: right;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-background);
    color: white;
}

footer p {
    padding: .5rem;
}

#lastmodified {
    color: yellow;
}