:root {
    --primary-background: lightgrey;
    --secondary-background: grey;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-background);
}

header span {
    display: block;
    font-weight: 400;
    font-size: 2.5rem;
    color: lightgray;
    margin: 20px;
}

nav {
    background-color: var(--primary-background);
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: #e0dede;
    color: #4f4f4f;
}

.active {
    color: yellow;
}


@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    text-align: center;
}

main h1 {
    grid-column: span 2; 
    padding: 2rem;
}

main section {
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
}

footer p {
    padding: .5rem;
}

#lastmodified {
    color: rgba(0, 0, 0, 0.381);
}