@media screen and (min-width:600px) {
    header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--secondary-background);
    border-radius: 0;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #hamburger {
        display: none;
    }
    
    main section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }

    main h1 {
    grid-column: span 3;
}
}