:root {
    --primary-background: lightgrey;
    --secondary-background: rgb(94, 94, 94);
    --text-color-secondary: #E6E6E6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, arial, sans-serif;
}

header {
    align-items: center;
    background-color: var(--secondary-background);
    color: var(--text-color-secondary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

header span {
    display: block;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: var(--primary-background);
    color: black;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    border-radius: 5px;
}

nav ul {
    display: none;
    list-style: none;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
    background-color: #e0dede;
    color: #4f4f4f;
    border-radius: 5px;
}

#hamburger::before {
    display: block;
    content: "≡≡";
    padding: 1.1rem;
    text-decoration: none;
}

#hamburger.show::before {
    content: "❌";
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.show {
    display: block;
}

main {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
}

main h1 {
    margin: 0 auto;
    padding: 1.5rem;
}

.card {
    margin-top: 1rem;
    text-align: center;
    background-color: var(--primary-background);
    padding: .8rem;
    border: 1px solid rgb(207, 207, 207);
}

.card h2 {
    padding: .2rem;
    font-size: large;
}

.card p {
    font-size: smaller;
    padding: .2rem;
}

.card p span {
    color: purple;
}

.card img {
    margin-top: .5rem;
    box-shadow: 0 0 10px black;
}

footer {
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--secondary-background);
    color: white;
}

footer p {
    padding: .5rem;
}

#lastmodified {
    color: yellow;
}