:root {
    --primary-background: lightgrey;
    --secondary-background: rgb(94, 94, 94);
    --text-color-secondary: #E6E6E6;
    --selection: navy;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, arial, sans-serif;
}

h1 {
    display: block;
    text-align: center;
    padding: 2rem;
    background-color: var(--secondary-background);
    color: var(--text-color-secondary);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    padding: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--primary-background);
}

fieldset legend {
    padding: .1rem;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 5px;
    background-color: var(--primary-background);
}

fieldset > label {
    padding: .1rem;
    font-size: large;
}

input[type="text"],
select,
input[type="radio"],
textarea,
input[type="date"] {
    margin-bottom: 1rem;
    padding: 5px;
}

.rating {
    margin: .5rem 0 1rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.rating > input {
    display: none;
}

.rating > label::before {
	content: "\2606";
    font-size: x-large;
    padding: 1%;
}

.rating input:checked ~ label::before {
    content: "\2605";
    color: var(--selection);
}

.rating > label:hover ~ label,
.rating > label:hover {
	color: var(--selection);
}

#checkAll {
    font-size: small;
    font-style: italic;
    padding: 0;
}

.features {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 30px 1fr;
}

.features > input,
.features > label {
    margin: .5rem;
}

input[type="submit"] {
    margin: 2rem auto;
    padding: 3%;
    background-color: var(--primary-background);
    border-radius: 7px;
    font-style: italic;
}

#received {
    margin: 2rem;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--secondary-background);
    color: white;
}

footer p {
    padding: .5rem;
}

#lastmodified {
    color: yellow;
}