body {
    font-family: roboto, arial, sans-serif;
}

header, main, footer {
    max-width: 640px;
    border: 1px solid rgba(0, 0, 0, 0.262);
    padding: 1.5rem;
    margin: 1rem auto;
    background-color: aqua;
    color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}


